/*style css*/

body {

  background-color: #ebf2f5;
  }

  footer {
  background-color: #111; 
  }
  
  .ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .backbutton {
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #ebf2f5;
  }
  
  .card {
    border-radius: 15px;
    padding: 1rem;
    max-width: 300px;
  
    box-shadow: 0 4px 20px 0 #3c2c4f60;
    background-color: #fffde5;
  }
  
  .active {
    background-color: #6c6474;
    color: #ebf2f5;
    border-radius: 10px;
  }
  
  /* The tag that makes the card clickable */
  
  a {
    text-decoration: none;
  
    color: #514e73;
  }
  
  /* Image & hover state */
  
  .card:hover {
    background-color: #7c52ad;
    color: #bca2d8;
  }
  
  .copyright {
    color: #ffffff;
  }