/*typography css*/

.hero {
  text-align:center;
}

.banner {
  text-align: center;
}

article {
  padding: 5rem;
  text-align: center;
}

main {
  text-align: center;
}

h1, h2, h3, h4, a {
  font-family: 'Young Serif', serif;
}

p {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 35px;
}

h1 {
  font-size: 50px;
}

.copyright {
  text-align: center;
  padding-top: 5rem;
}